@use "../settings" as *;
@use "sass:map";

/* Position Shorthands: */
@mixin absolute-shorthand(
  $inset-block-start: auto,
  $inset-inline-end: auto,
  $inset-block-end: auto,
  $inset-inline-start: auto
) {
  position: absolute;
  inset: $inset-block-start $inset-inline-end $inset-block-end
    $inset-inline-start;
}

/* Display Shorthands: */
@mixin flex-shorthand(
  $flex-direction: row,
  $gap: null,
  $align-items: null,
  $justify-content: null
) {
  display: flex;
  flex-flow: $flex-direction nowrap;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin grid-shorthand(
  $grid-template-rows: null,
  $grid-template-columns: null,
  $row-gap: 0,
  $column-gap: 0,
  $align-items: null
) {
  display: grid;
  grid-template-rows: $grid-template-rows;
  grid-template-columns: $grid-template-columns;
  gap: $row-gap $column-gap;
  align-items: $align-items;
}

/* Dimensions Shorthands: */
@mixin max-size-shorthand($max-inline-size, $max-block-size) {
  max-inline-size: $max-inline-size;
  max-block-size: $max-block-size;
}

@mixin size-shorthand($inline-size, $block-size) {
  inline-size: $inline-size;
  block-size: $block-size;
}

/* Color Shorthands: */
@mixin color-shorthand($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

/* Padding & Margin Shorthands: */
@mixin logical-padding-shorthand(
  $padding-block-start: 0,
  $padding-inline-end: 0,
  $padding-block-end: 0,
  $padding-inline-start: 0
) {
  padding-block: $padding-block-start $padding-block-end;
  padding-inline: $padding-inline-start $padding-inline-end;
}

@mixin logical-margin-shorthand(
  $margin-block-start: 0,
  $margin-inline-end: 0,
  $margin-block-end: 0,
  $margin-inline-start: 0
) {
  margin-block: $margin-block-start $margin-block-end;
  margin-inline: $margin-inline-start $margin-inline-end;
}

/* Media Queries Shorthands: */
@mixin media-up-shorthand($size) {
  @media (min-width: map.get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin media-down-shorthand($size) {
  @media (max-width: map.get($breakpoints-down, $size)) {
    @content;
  }
}

/* Remove Default Styles Shorthands: */
@mixin remove-list-styles() {
  padding: 0;
  list-style: none;
}
