/* Primary Colors: */
$color-primary-light-green: #dff1e7;
$color-primary-medium-green: #0c7d69;
$color-primary-red: #d73c3c;

/* Neutral Colors: */
$color-neutral-white: #fff;
$color-neutral-medium-green: #87a3a6;
$color-neutral-dark-green: #2b4246;
