/* Pure Colors: */
$color-pure-white: #fff;
$color-pure-black: #000;

/* Primary Colors: */
$color-primary-red: #c73a0f;
$color-primary-green: #1ea475;

/* Neutral Colors: */
$color-neutral-rose-50: #fcf9f7;
$color-neutral-rose-100: #f4edeb;
$color-neutral-rose-300: #c9aea6;
$color-neutral-rose-400: #ad8985;
$color-neutral-rose-500: #87635a;
$color-neutral-rose-900: #260f08;
